
{% extends 'base.html' %}
{% block title%}{{ title | upper}}{% endblock %}
{% block content %}
	<br><br>
		<div class="back">
	<button onclick="back('{{ user }}');">Back to Home</button>
	</div>
	<center>
		<h1>
		Here's what you have to verify, {{user | upper}} <br>
		</h1>
		</center>
		<center>
		<table class="table">
			<tr>
			{% for h in header %}
				<th>{{ h }}</th>
			{% endfor%}
		</tr>
			{% for emp in content%}
		<tr>
		{% for key,value in emp.items() %}
		<td>
				<center>
				{{ value  }}
				</center>
		</td>
			{% endfor %}
			<td>
				<center>
				<button onclick="document.getElementById('modal').style.display='block';">Edit ✎</button>
				<button onclick="validate_form()"> Delete  &#x1F5D1;</button
				</center>
			</td>
		</tr>
		{% endfor %}
		</table>
		</center>
			<div class="w3-modal" id="modal">	
		<div class="w3-modal-content w3-animate-top" style="width:30%; height:70%;">
			<div class="w3-container" style="background-color:#25a5b0;">
				<center><h3 style="color:white;">Edit technician Information</h3></center>
				<button class="w3-button w3-display-topright" onclick="document.getElementById('modal').style.display='none'">&times;</button>
			</div>
			<div class="w3-container" style="text-indent:20px;">
				<form>
					<p>
					
							<br><br>
						<label class="reglabel" style="font-size: 21px;  margin-left: 20px;"><b>Name: </b></label>
						<input type="text"style="font-size: 21px; margin-left:20%;" value="Jay Park"><br>
						<label class="reglabel"style="font-size: 21px; margin-left: 20px;"><b>Address: </b></label>
						<input type="text"style="font-size: 21px; margin-left:16%;" value="36 Franc St., Bahay "><br>
						<label class="reglabel"style="font-size: 21px; margin-left: 20px;"><b>Contact Number </b></label>
						<input type="text" style="font-size: 21px; margin-left:2%;"" value="09611230098"><br>
						<label class="reglabel"style="font-size: 21px; margin-left: 20px;"><b>E-mail </b></label>	
						<input type="text" style="font-size: 21px; margin-left:20%;"" value="jaypark@gmail.com"><br>
						<label class="reglabel"style="font-size: 21px; margin-left: 20px;"><b>Username: </b></label>	
						<input type="text" style="font-size: 21px; margin-left:12%;"" value="ethan_lee"><br>
						<label class="reglabel"style="font-size: 21px; margin-left: 20px;"><b>Password </b></label>	
						<input type="password" style="font-size: 21px; margin-left:14%;"" value="ethan_lee"><br>
						<label class="reglabel"style="font-size: 21px; margin-left: 20px;"><b>Specialization </b></label>	
							 <select id="specialization" name="specialization"  style="font-size: 21px; margin-left:14%;" >
									<option value="homecleaning">Home Cleaning</option>
									<option value="laundry">Laundry</option>
									<option value="massage" >Massage</option>
									<option value="plumbing"selected>Plumbing</option>
									<option value="pestcontrol">Pest Control</option>
									<option value="refair">Aircon and Fridge</option>
									<option value="spa">Spa Services</option>
									<option value="carpentry">Carpentry</option>
									<option value="pc">PC Repairs</option>
									<option value="phone">Phone Repairs</option>
									<option value="electrician">Electrician</option>
							  </select>
			
								<hr>
				
					<center>
					<input type="button" value="Save"  class="w3-button w3-blue w3-center" style="padding: 10px 40px 10px 40px;">
					<button type="button" onclick="close_modal()" class="w3-button w3-blue w3-center" style="padding: 10px 40px 10px 40px;">Cancel</button>
					</center>
				</form>
			</div>
		</div>
	</div>
	<script>
	function back(user){
	location.href="/main?user="+user
	}
		function validate_form(){
		 
		alert("Account successfully deleted");    
		return true;
			
	}
	function close_modal()
				{
					document.getElementById('modal').style.display='none';
				
				}
	</script>


{% endblock %}



